<%- include('../../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../../partials/navbar.ejs') %>

    <h1>User's Wall</h1>

  </div>

  <%- include('../../partials/footer.ejs') %>