<%- include('../../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../../partials/navbar.ejs') %>
    <!--USER PROFILE-->
    <div class="main">
      <div class="login">
        <div class="card-profile">
          <div>
            <p class="header">Create Your Team</p>
          </div>

          <div class="card-login-body">
            <form id="myForm" action = "connect.php" method = "post">
              <div class=form-group>
                <label for="fname">Team Name</label></br>
                <input id="fname" name = "fname" type="text" required>
              </div>

              <div class=form-group>
                <label for="email">Team Member Names</label></br>
                <div class="field_wrapper">
                  <div>
                    <input type="text" name="field_name[]" value=""/>
                      <a href="javascript:void(0);" class="add_button" title="Add field">
                        <ion-icon name="add-outline"></ion-icon>
                      </a>
                    </div>
                </div>
              </div>

              <button class="button-login" type="submit" onclick="submitForm">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--USER PROFILE-->

  </div>

  <span><i>teams: <%= JSON.stringify(teams) %></i></span>

  <%- include('../../partials/footer.ejs') %>