/* login */
.login {
  display: flex;
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 30px;
}

.card-login {
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  border: solid 1px rgba(#dbdad7, 0.5);
  box-shadow: 3px rgba(#dbdad7, 0.5);
}

.card-profile {
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  box-shadow: 3px rgba(#dbdad7, 0.5);
}

@media screen and (max-width: 1000px) {
  .login {
    display: block;
  }

  .card-login {
    margin-top: 10px;
  }
}

.header {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.subheading {
  font-size: 0.5em;
}

.card-login:hover {
  background: linear-gradient(to right, #9733ee, #da22ff);

  label {
    color: white;
  }

  .header {
    color: white;
  }

  .subheading {
    color: white;
  }
}

.card-login-body {
  width: 100%;
}
