<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/static/about.styles.css">
<script src="/static/about.bundle.js" defer></script>

</head>

<body>

  <div id='app'>

    <%- include('../partials/navbar.ejs') %>

    <h1>About Us / Landing Page</h1>

    <!-- apply styles from './styles/styles.scss' direct to about.ejs -->
    <p class='warning'>Warning...</p>

  </div>

  <%- include('../partials/footer.ejs') %>