<%- include('../partials/head.ejs') %>

</head>

<body>

  <div id='app'>

    <%- include('../partials/navbar.ejs') %>

    <div class="main">

      <div class='row toprow'>
        <h3>Mandani Bay Dragon Boat Regatta 2022</h3>
        <div class='section-title'></div>
        <div class='section-cards'></div>
        <br>
        <span>Registered teams:</span>
        <br>
        <span>Information Bulletins:</span>
      </div>

    </div>

    <%- include('../partials/footer.ejs') %>