<div class='card'>
  <div class='container'>
    <p class='section-cards-title'><b><%= event.name %></b></p>
    <p class='section-cards-details'>
      <span><%= event.description %></span>
      <span><%= event.date %></span>
    </p>
    <button class="button join">Join</button>
  </div>
</div>