<!--TEAM CARD START-->
<div class='card'>
  <div class='container'>
    <p class='section-cards-title'><b>Team Name</b></p>
    <p class='section-cards-details'>
      Members: 6
      <br />
      Sport: Rowing
    </p>
    <button class="button join">Join</button>
  </div>
</div>
<!--TEAM CARD END-->