<html>
  <head>
    <meta charset='utf-8' />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta
      name='description'
      content='{{htmlWebpackPlugin.options.description}}'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body>
    <div id='app'>
      <h1>PAGE HEADER</h1>

      {{! apply styles from './styles/style.scss' direct to index.hbs }}
      <p class='warning'>Warning...</p>

    </div>
  </body>
</html>